<div class="card">
  <div class="card-content m-3">
    <div class="row">
      <img
        class="mr-4 col-md-auto"
        src="../../../../../../assets/images/profile-picture.png"
        alt=""
      />
      <h6 class="my-auto col">Rizky Saputra</h6>
    </div>
    <h5 class="mt-4">My Profile</h5>
    <div class="container">
      <div>
        <a href="p/profile">Setting Profile</a>
      </div>
      <div>
        <a href="/p/profile/history">Histories</a>
      </div>
      <div>
        <a href="p/profile">Wishlist</a>
      </div>
    </div>
    <button class="btn btn-primary mt-4">Logout</button>
  </div>
</div>
