<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      *ngFor="
        let image of carouselImages;
        let index = index;
        let isFirst = first
      "
      [attr.data-bs-slide-to]="index"
      [attr.aria-label]="index"
      [ngClass]="{ active: isFirst }"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let image of carouselImages; let i = index; let isFirst = first"
      data-bs-interval="10000"
      [ngClass]="{ active: isFirst }"
    >
      <img
        src="../../../../../assets/images/{{ image.image }} "
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-light">{{ image.title }}</h5>
        <p class="text-light">{{ image.description }}</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
