<hr />
<div>
  <div class="footer-dark">
    <footer>
      <div class="container">
        <img
          src="../../../../assets/images/mandiri-logo.png"
          alt=""
          id="mandiri-footer-logo"
        />
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3>Links</h3>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Event</a></li>

              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3>About</h3>
            <ul>
              <li><a href="#">Company</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="col-md-6 item text">
            <div>
              <h6>Central Office</h6>
              <p>
                Jl. Jenderal Gatot Subroto Kav. 36-38 Jakarta 12190 Indonesia
              </p>
              <p>Telp: 14000, +62-21-52997777</p>
              <p>Fax: +62-21-52997735</p>
              <p>Email: mandiricare@bankmandiri.co.id</p>
            </div>
          </div>
          <div class="col item social">
            <a href="#"
              ><i class="icon ion-social-facebook"
                ><img
                  src="../../../../assets/icons/facebook.svg"
                  height="30"
                  alt="mandiri-facebook" /></i></a
            ><a href="#"
              ><i class="icon ion-social-twitter"
                ><img
                  src="../../../../assets/icons/twitter.svg"
                  height="30"
                  alt="mandiri-twitter" /></i></a
            ><a href="#"
              ><i class="icon ion-social-linkedid"
                ><img
                  src="../../../../assets/icons/linkedin-bg.svg"
                  height="30"
                  alt="mandiri-instagram" /></i></a
            ><a href="#"
              ><i class="icon ion-social-instagram">
                <img
                  src="../../../../assets/icons/instagram.svg"
                  height="30"
                  alt="mandiri-instagram" /></i
            ></a>
          </div>
        </div>
        <p class="copyright">© 2021 PT Bank Mandiri (Persero) Tbk.</p>
      </div>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</div>
