<div class="footer">
  <div id="separator"></div>

  <div class="row w-100">
    <div class="col-sm pl-4">
      <ul class="p-2 bd-highlight">
        <li>
          <img
            src="../../../../assets/images/mandiri-logo.png"
            alt=""
            id="mandiri-footer-logo"
          />
        </li>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Event</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <div class="p-2 bd-highlight">
        <h6>Central Office</h6>
        <p>Jl. Jenderal Gatot Subroto Kav. 36-38 Jakarta 12190 Indonesia</p>
        <p>Telp: 14000, +62-21-52997777</p>
        <p>Fax: +62-21-52997735</p>
        <p>Email: mandiricare@bankmandiri.co.id</p>
        <p>Bank Mandiri terdaftar dan diawasi oleh OJK</p>
      </div>
    </div>
    <div class="col-sm">
      <div class="p-2 flex-fill bd-highlight">
        <h6>Follow Us</h6>
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="contact-icon p-2 bd-highlight">
            <img
              src="../../../../assets/icons/facebook.svg"
              height="30"
              alt="mandiri-facebook"
            />
          </div>
          <div class="contact-icon p-2 bd-highlight">
            <img
              src="../../../../assets/icons/twitter.svg"
              height="30"
              alt="mandiri-twitter"
            />
          </div>
          <div class="contact-icon p-2 bd-highlight">
            <img
              src="../../../../assets/icons/instagram.svg"
              height="30"
              alt="mandiri-instagram"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex bd-highlight"></div>
  <hr />
  <p class="" style="color: #8b8b8b; text-align: center">
    © 2021 PT. Bank Mandiri (Persero) Tbk.
  </p>
</div>
