<nav class="mx-3">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button
      class="nav-link active"
      id="nav-home-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-home"
      type="button"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
    >
      Buy {{ product | titlecase }}
    </button>
    <button
      class="nav-link"
      id="nav-profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-profile"
      type="button"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
    >
      Sell {{ product | titlecase }}
    </button>
  </div>
</nav>
<div class="tab-content mx-3" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-home"
    role="tabpanel"
    aria-labelledby="nav-home-tab"
  >
    <div class="card-body row">
      <div class="card col-8">
        <div class="card-body row">
          <div class="col">
            <h5>Value on IDR</h5>
            <h4>0</h4>
          </div>
          <div class="col">
            <h5>Value on Gram</h5>
            <h4>0</h4>
          </div>
        </div>
      </div>
      <div class="col-4 my-auto">
        <a href="/p/product/{{ product }}/deal">
          <button class="btn btn-primary w-100">Next</button>
        </a>
        <h6 class="text-center mt-2">
          With click button above you agree with our T&C
        </h6>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="nav-profile"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div class="card-body row">
      <div class="card col-8">
        <div class="card-body row">
          <div class="col">
            <h5>Value on IDR</h5>
            <h4>0</h4>
          </div>
          <div class="col">
            <h5>Value on Gram</h5>
            <h4>0</h4>
          </div>
        </div>
      </div>
      <div class="col-4 my-auto">
        <button class="btn btn-primary w-100">Next</button>
        <h6 class="text-center mt-2">
          With click button above you agree with our T&C
        </h6>
      </div>
    </div>
  </div>
</div>
