<app-profile>
  <div class="container my-4">
    <div
      class="card"
      *ngFor="let transaction of transactionList; let i = index"
    >
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">{{ transaction.type | titlecase }}</th>
            <th style="width: 25%" scope="col">
              {{ transaction.date | date: "medium" }}
            </th>
          </tr>
          <tr>
            <th>Product</th>
          </tr>
        </thead>
        <thead></thead>
        <tbody>
          <tr>
            <td scope="row">
              Product name: {{ transaction.product | titlecase }}
            </td>
            <td>Total Price</td>
          </tr>
          <tr>
            <td scope="row">Quantity {{ transaction.qty }} gr</td>
            <th>{{ transaction.total | currencyID }}</th>
          </tr>
          <tr>
            <td></td>
            <td><button class="btn btn-primary">Detalis</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-profile>
